.btn {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  z-index: 9;
  &:hover {
    cursor: pointer;
  }
  span {
    margin-top: 4px;
  }
}

button:disabled,
button[disabled] {
  background-color: $disabled;
  pointer-events: none;
  .icon {
    background-color: $disabled;
  }
}

.btn-primary {
  background-color: $tertiary-color;
  color: $secondary-text-color;
  padding: 0.25rem;
  padding-right: 1.75rem;
  position: absolute;
  left: -2rem;
  width: 7rem;
  top: 8rem;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  transition: transform 0.5s ease-out;
  .icon {
    background-color: $primary-color;
  }
  span {
    display: none;
  }
  &:after {
    @include triangle($tertiary-color, 1rem 1rem 0rem 0, 2rem 2rem 0rem 0);
    transform: rotate(180deg);
    right: -1rem;
    top: 0rem;
  }
  &:before {
    @include triangle($tertiary-color, 0rem 1rem 1rem 0, 0rem 2rem 2rem 0);
    transform: rotate(180deg);
    right: -1rem;
    bottom: 0rem;
  }
  &:hover {
    transform: translate(2rem, 0);
  }
  @include md {
    padding: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 3rem;
    height: 3rem;
    width: 10rem;
    span {
      display: block;
    }
    &:before,
    &:after {
      right: -2rem;
    }
  }
}

.btn-pagination {
  display: inline-flex;
  background-color: $tertiary-color;
  padding: 0.5rem;
  height: 3rem;
  z-index: 3;
  position: relative;
  margin: 0;
  .icon {
    background-color: black;
  }
  &:hover .icon {
    background-color: white;
  }
  &:disabled {
    background-color: $tertiary-color;
    .icon {
      background-color: $secondary-color-transparent;
    }
  }
}
