.icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.icon-large {
  width: 7rem;
  height: 8rem;
  mask-size: 7rem;
}

.icon-light {
  background-color: $primary-text-color;
}

.icon-arrow-down {
  mask-image: url("~@/assets/icons/arrow_down.svg");
}

.icon-arrow-left {
  mask-image: url("~@/assets/icons/arrow_left.svg");
}

.icon-arrow-right {
  mask-image: url("~@/assets/icons/arrow_left.svg");
  transform: rotate(180deg);
}

.icon-double-arrow-right {
  mask-image: url("~@/assets/icons/double_arrow_left.svg");
  transform: rotate(180deg);
}

.icon-double-arrow-left {
  mask-image: url("~@/assets/icons/double_arrow_left.svg");
}

.icon-explore {
  mask-image: url("~@/assets/icons/explore.svg");
}

.icon-coat-of-arms {
  mask-image: url("~@/assets/icons/coat_of_arms.svg");
}

.icon-weapons {
  mask-image: url("~@/assets/icons/weapons.png");
}

.icon-crown {
  mask-image: url("~@/assets/icons/crown.png");
}

.icon-flag {
  mask-image: url("~@/assets/icons/flag.svg");
}

.icon-cross {
  mask-image: url("~@/assets/icons/cross.png");
}

.icon-heir {
  mask-image: url("~@/assets/icons/heir.svg");
}

.icon-map {
  mask-image: url("~@/assets/icons/map.svg");
}

.icon-titles {
  mask-image: url("~@/assets/icons/titles.svg");
}
