/* Colors */
$primary-color: #0c0e14;
$secondary-color: #43505c;
$secondary-color-transparent: rgba($secondary-color, 0.7);
$tertiary-color: rgb(172, 131, 75);
$quaternary-color: #9a362d;

$primary-text-color: #c7c9d5;
$secondary-text-color: #0c0e14;
$tertiary-text-color: #373739;

$error: #b00020;
$disabled: #dddddd;

/* Breakpoints */
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

/* Font sizes */
$p-font-sizes: (
  null: 12px,
  $screen-sm-min: 12px,
  $screen-md-min: 12px,
  $screen-lg-min: 12px,
  $screen-xl-min: 12px,
);

$h1-font-sizes: (
  null: 20px,
  $screen-sm-min: 25px,
  $screen-md-min: 25px,
  $screen-lg-min: 30px,
  $screen-xl-min: 35px,
);

$h2-font-sizes: (
  null: 15px,
  $screen-sm-min: 20px,
  $screen-md-min: 20px,
  $screen-lg-min: 20px,
  $screen-xl-min: 20px,
);

$h3-font-sizes: (
  null: 10px,
  $screen-sm-min: 10px,
  $screen-md-min: 10px,
  $screen-lg-min: 13px,
  $screen-xl-min: 13px,
);
