@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "layout.scss";
@import "icons.scss";
@import "buttons.scss";
@import "animations.scss";
@import "effects.scss";
@import "header.scss";
@import "footer.scss";
@import "houses.scss";

* {
  box-sizing: border-box;
  font-family: "Game of Thrones", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 1.7;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  height: 100vh;
  background-color: $primary-color;
  margin: 0;
}

h1 {
  @include font-size($h1-font-sizes);
  color: $primary-text-color;
  position: relative;
  text-align: center;
  font-weight: bold;
  display: table;
  margin: 0 auto;
  padding: 2rem 0;
  @include sm {
    &:before {
      @include line(left);
    }
    &:after {
      @include line(right);
    }
  }
}

.banner-heading {
  background: $primary-color;
  background: linear-gradient(
    180deg,
    rgba($primary-color, 0) 0%,
    rgba($primary-color, 1) 40%,
    rgba($primary-color, 1) 60%,
    rgba($primary-color, 0) 100%
  );
}

h2 {
  @include font-size($h2-font-sizes);
  color: $primary-text-color;
  font-weight: 100;
}

h3 {
  @include font-size($h3-font-sizes);
  color: $primary-text-color;
  font-weight: 100;
}

.subheading {
  text-align: center;
  margin-top: -2rem;
}

p {
  @include font-size($p-font-sizes);
  color: $primary-text-color;
}

a {
  text-decoration: none;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.tertiary-color {
  color: $tertiary-color;
}

.error {
  color: $error;
  width: 100%;
  text-align: center;
}
