@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";
@import "layout.scss";
@import "icons.scss";
@import "buttons.scss";
@import "animations.scss";
@import "houses.scss";

* {
  box-sizing: border-box;
  font-family: "Game of Thrones", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 1.5;
}

html {
  display: block;
}

body {
  min-width: 320px;
  background-color: $primary-bg-color;
  margin: 0;
}

h1 {
  @include font-size($h1-font-sizes);
  color: $primary-text-color;
  position: relative;
  text-align: center;
  font-weight: bold;
  hr {
    display: inline-block;
    width: 17%;
    border-top: 3px solid $primary-text-color;
    border-bottom: 3px solid $primary-color;
  }
}

h2 {
  @include font-size($h2-font-sizes);
  color: $primary-text-color;
  font-weight: 100;
}

h3 {
  @include font-size($h3-font-sizes);
  color: $primary-text-color;
  font-weight: 100;
}

a {
  text-decoration: none;
}
